body {
    margin: 0;
    padding: 0;
}

#game-screen{
    display: block;
}

#gameOver, #playHUD {
    position : absolute;
    visibility: hidden;
}
h1, h4{
    font-family: 'Sigmar One', cursive;
    background: url(http://image.shutterstock.com/display_pic_with_logo/531757/531757,1267726267,6/stock-photo-yellow-snake-leather-background-47947747.jpg);
    color: #75E4E6;
}

.title {
    font-size: 69px;
    margin-bottom: 0px;
    margin-top: 0px
}

#restartButton, h1 {
    border: 10px inset gold;
    border-radius: 10px;
}

#restartButton, startButton:hover {
    background-color: #75E4E6;
}
h4 {
    font-size: 30px;
}

#scoreboard, #highscore {
    margin: 0px;
}
h2, h3 {
    font-family: 'Sigmar One', cursive;
    color: gold;
}
img {
    width:15px;
    height:auto;
}
#snakeDraw {
    border: solid black;
}